In [66]:
import pandas as pd

## Load the data

In [67]:
listings_raw = pd.read_csv('../data_raw/listings_detailed.csv')
listings_raw.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,290701,https://www.airbnb.com/rooms/290701,20241207054011,2024-12-07,city scrape,"Central, big window, rear room with private bath.",((I have a minimum 3 night stay policy. 1 or 2...,The home is in the heart of the city but is su...,https://a0.muscache.com/pictures/airflow/Hosti...,1491565,...,4.90,4.92,4.75,0363 DF01 FBC0 496B 9730,t,2,0,2,0,3.05
1,291752,https://www.airbnb.com/rooms/291752,20241207054011,2024-12-07,city scrape,Cozy & large bohemian style room,Cozy spacious room in a beautiful and spiritua...,It is a calm yet atmospheric residential area ...,https://a0.muscache.com/pictures/250e82ad-b80b...,1511330,...,4.93,4.79,4.73,0363 6ACC BA1B 12A9 60C1,f,1,0,1,0,1.72
2,304082,https://www.airbnb.com/rooms/304082,20241207054011,2024-12-07,city scrape,"Private, quiet studio in the centre with terrace","We offer a cosy, quiet studio in the very cent...",NaN,https://a0.muscache.com/pictures/a85c2467-eec4...,276068,...,4.84,4.88,4.58,0363 6C40 7413 ADD3 9AF8,f,1,1,0,0,2.15
3,304143,https://www.airbnb.com/rooms/304143,20241207054011,2024-12-07,previous scrape,Unique Beautiful Houseboat (ship),The best way to experience Amsterdam-City. Liv...,The Plantage neighborhood is part of the city ...,https://a0.muscache.com/pictures/3201940/ec9c5...,1565319,...,4.86,4.85,4.44,0363AF9644094CEBCE6B,f,1,1,0,0,0.32
4,306852,https://www.airbnb.com/rooms/306852,20241207054011,2024-12-07,previous scrape,"SunShine, A Sunny Amsterdam Center Special",NaN,NaN,https://a0.muscache.com/pictures/3240023/0081b...,1141485,...,4.88,4.91,4.66,0363 33C3 B936 3911 FC42,f,3,2,1,0,0.21

In [68]:
listings_raw.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

## Select columns for this project

In [69]:
columns_selected = ['id', 'listing_url', 'name', 'picture_url', 'host_id', 'host_url', 'host_name', 'host_since', 'host_is_superhost', 'host_picture_url', 'host_total_listings_count', 'neighbourhood_cleansed', 'latitude', 'longitude', 'room_type', 'accommodates', 'price', 'minimum_nights', 'availability_365', 'number_of_reviews', 'review_scores_rating']

In [70]:
listings = listings_raw[columns_selected]

In [71]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10032 entries, 0 to 10031
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         10032 non-null  int64
 1   listing_url                10032 non-null  object
 2   name                       10032 non-null  object
 3   picture_url                10032 non-null  object
 4   host_id                    10032 non-null  int64
 5   host_url                   10032 non-null  object
 6   host_name                  10032 non-null  object
 7   host_since                 10032 non-null  object
 8   host_is_superhost          9948 non-null   object
 9   host_picture_url           10032 non-null  object
 10  host_total_listings_count  10032 non-null  int64
 11  neighbourhood_cleansed     10032 non-null  object
 12  latitude                   10032 non-null  float64
 13  longitude                  10032 non-null  float64
 14  room_type                  10032 non-null  object
 15  accommodates               10032 non-null  int64
 16  price                      6290 non-null   object
 17  minimum_nights             10032 non-null  int64
 18  availability_365           10032 non-null  int64
 19  number_of_reviews          10032 non-null  int64
 20  review_scores_rating       8942 non-null   float64
dtypes: float64(3), int64(7), object(11)
memory usage: 1.6+ MB

## Data Preparation

### Column "price"

Remove listings without a price:

In [72]:
listings.dropna(subset=['price'], inplace=True)

C:\Users\mario\AppData\Local\Temp\ipykernel_10160\3927520776.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings.dropna(subset=['price'], inplace=True)

### Column "review_scores_rating"

Use "N/A" for the null values (it will be used only to display the score):

In [73]:
listings['review_scores_rating'] = listings['review_scores_rating'].fillna('N/A').astype(str)

C:\Users\mario\AppData\Local\Temp\ipykernel_10160\53227934.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings['review_scores_rating'] = listings['review_scores_rating'].fillna('N/A').astype(str)

In [74]:
listings = listings.reset_index(drop=True)

### Column "price_cleansed" creation

Convert the "price" column to float:

In [75]:
listings['price'].str.get(0).unique()

array(['$'], dtype=object)

In [76]:
listings['price_cleansed'] = listings['price'].str.replace('$','').replace(',','',regex=True)

In [77]:
listings['price_cleansed'] = pd.to_numeric(listings['price_cleansed'], errors='coerce')

In [78]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6290 entries, 0 to 6289
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         6290 non-null   int64
 1   listing_url                6290 non-null   object
 2   name                       6290 non-null   object
 3   picture_url                6290 non-null   object
 4   host_id                    6290 non-null   int64
 5   host_url                   6290 non-null   object
 6   host_name                  6290 non-null   object
 7   host_since                 6290 non-null   object
 8   host_is_superhost          6236 non-null   object
 9   host_picture_url           6290 non-null   object
 10  host_total_listings_count  6290 non-null   int64
 11  neighbourhood_cleansed     6290 non-null   object
 12  latitude                   6290 non-null   float64
 13  longitude                  6290 non-null   float64
 14  room_type                  6290 non-null   object
 15  accommodates               6290 non-null   int64
 16  price                      6290 non-null   object
 17  minimum_nights             6290 non-null   int64
 18  availability_365           6290 non-null   int64
 19  number_of_reviews          6290 non-null   int64
 20  review_scores_rating       6290 non-null   object
 21  price_cleansed             6290 non-null   float64
dtypes: float64(3), int64(7), object(12)
memory usage: 1.1+ MB

### Column "host_is_superhost"

Transform the column "host_is_superhost" to show '1' if host is superhost and '0' for the other values:

In [79]:
listings['host_is_superhost'].unique()

array(['t', 'f', nan], dtype=object)

In [80]:
listings['host_is_superhost'] = listings['host_is_superhost'].fillna('0')

In [81]:
listings['host_is_superhost'] = listings['host_is_superhost'].str.replace('t','1').replace('f','0')

In [82]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6290 entries, 0 to 6289
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         6290 non-null   int64
 1   listing_url                6290 non-null   object
 2   name                       6290 non-null   object
 3   picture_url                6290 non-null   object
 4   host_id                    6290 non-null   int64
 5   host_url                   6290 non-null   object
 6   host_name                  6290 non-null   object
 7   host_since                 6290 non-null   object
 8   host_is_superhost          6290 non-null   object
 9   host_picture_url           6290 non-null   object
 10  host_total_listings_count  6290 non-null   int64
 11  neighbourhood_cleansed     6290 non-null   object
 12  latitude                   6290 non-null   float64
 13  longitude                  6290 non-null   float64
 14  room_type                  6290 non-null   object
 15  accommodates               6290 non-null   int64
 16  price                      6290 non-null   object
 17  minimum_nights             6290 non-null   int64
 18  availability_365           6290 non-null   int64
 19  number_of_reviews          6290 non-null   int64
 20  review_scores_rating       6290 non-null   object
 21  price_cleansed             6290 non-null   float64
dtypes: float64(3), int64(7), object(12)
memory usage: 1.1+ MB

### Column "host_since"

Convert column "host_since" to date type:

In [83]:
listings['host_since'] = pd.to_datetime(listings['host_since'])
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6290 entries, 0 to 6289
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         6290 non-null   int64
 1   listing_url                6290 non-null   object
 2   name                       6290 non-null   object
 3   picture_url                6290 non-null   object
 4   host_id                    6290 non-null   int64
 5   host_url                   6290 non-null   object
 6   host_name                  6290 non-null   object
 7   host_since                 6290 non-null   datetime64[ns]
 8   host_is_superhost          6290 non-null   object
 9   host_picture_url           6290 non-null   object
 10  host_total_listings_count  6290 non-null   int64
 11  neighbourhood_cleansed     6290 non-null   object
 12  latitude                   6290 non-null   float64
 13  longitude                  6290 non-null   float64
 14  room_type                  6290 non-null   object
 15  accommodates               6290 non-null   int64
 16  price                      6290 non-null   object
 17  minimum_nights             6290 non-null   int64
 18  availability_365           6290 non-null   int64
 19  number_of_reviews          6290 non-null   int64
 20  review_scores_rating       6290 non-null   object
 21  price_cleansed             6290 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(7), object(11)
memory usage: 1.1+ MB

## Export to .csv

In [84]:
listings.to_csv('../data_cleansed/listings_cleansed.csv', index=False)